-- CreateTable
CREATE TABLE `User` (
    `id` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `role` ENUM('USER', 'ADMIN') NOT NULL DEFAULT 'USER',
    `kolor` VARCHAR(191) NULL,

    UNIQUE INDEX `User_email_key`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Contact` (
    `id` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `imie` VARCHAR(191) NOT NULL,
    `etap` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NULL,
    `telefon` VARCHAR(191) NULL,
    `zrodlo` VARCHAR(191) NULL,
    `branza` VARCHAR(191) NULL,
    `opis` TEXT NULL,
    `nazwaFirmy` VARCHAR(191) NULL,
    `rodzajDzialki` VARCHAR(191) NULL,
    `potrzebaKlienta` TEXT NULL,
    `formaOpodatkowania` VARCHAR(191) NULL,
    `zobowiazania` JSON NULL,
    `majatekFirmy` TEXT NULL,
    `czyZatrudniaPracownikow` VARCHAR(191) NULL,
    `opoznieniaWPlatnosciach` VARCHAR(191) NULL,
    `planNaRozwoj` TEXT NULL,
    `stanCywilny` VARCHAR(191) NULL,
    `rozdzielnoscMajatkowa` VARCHAR(191) NULL,
    `majatekPrywatny` TEXT NULL,
    `czyBralKredyt10Lat` VARCHAR(191) NULL,
    `createdById` VARCHAR(191) NOT NULL,
    `assignedToId` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Task` (
    `id` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `nazwa` VARCHAR(191) NOT NULL,
    `opis` TEXT NULL,
    `termin` DATETIME(3) NOT NULL,
    `wykonane` BOOLEAN NOT NULL DEFAULT false,
    `contactId` VARCHAR(191) NOT NULL,
    `createdById` VARCHAR(191) NOT NULL,
    `assignedToId` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `Contact` ADD CONSTRAINT `Contact_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Contact` ADD CONSTRAINT `Contact_assignedToId_fkey` FOREIGN KEY (`assignedToId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Task` ADD CONSTRAINT `Task_contactId_fkey` FOREIGN KEY (`contactId`) REFERENCES `Contact`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Task` ADD CONSTRAINT `Task_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Task` ADD CONSTRAINT `Task_assignedToId_fkey` FOREIGN KEY (`assignedToId`) REFERENCES `User`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

